@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Emilys+Candy&family=Oswald&family=Source+Sans+Pro&display=swap');

body {
  background-color: black;
}

h1 {
  font-family: 'VT323', 'arial';
  color: #eee;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: 'VT323', 'arial';
  color: #eee;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  font-family: 'VT323', 'arial';
  background: none;
  border: none;
  outline: none;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  padding: 10px;
  box-shadow: 5px 0px #eee, -5px 0px #eee, 0px 5px #eee, 0px -5px #eee, 0px 15px #eee, -5px 10px #eee, 5px 10px #eee;
  background: #eee;
  color: #eee;
  transition: box-shadow 0.1s, background 0.1s, padding 0.1s;
}

button:active {
  box-shadow: 5px 5px #eee, -5px 5px #eee, 0px 10px #eee, 0px 0px #eee, 0px 15px #eee, -5px 10px #eee, 5px 10px #eee;
  background: #eee;
  padding-top: 15px;
  padding-bottom: 5px;
  transition: box-shadow 0.1s, background 0.1s, padding 0.1s;
}

#link{
  text-decoration: none;
} 